<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p>
    
  </p>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th></th>
        <th>Registration Books : <button (click)="onClick()">Register</button></th>
        <th>
          <div *ngIf="authGuardStatus">
            Welcome Soumya <button (click)="onLogout()" type="button" class="btn btn-outline-secondary">Logout</button>
          </div>                  
        </th>
      </tr>
    </thead>    
  </table>
</div>
<p>Here is the value : {{authGuardStatus}}</p>
<div *ngIf="authGuardStatus; then thenBlock else elseBlock"></div>
<ng-template #thenBlock><library-list></library-list></ng-template>
<ng-template #elseBlock></ng-template>
<router-outlet></router-outlet>


